<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>
    <h2>Number of cards pulled from the deck<h2>
    <form action="/show" method="POST">
        <input type="number" placeholder="Number of Cards" name="card">
        <button type="submit">Submit</button>
    </form>
</body>
</html>